html {
  font-size: 62.5%; /* 62.5% representa un 10px, 1em = 10px */
  font-family: "Domine", serif;
}
p {
  font-size: 2.5rem;
}
.texto {
  display: flex;
  text-align: center;
  font-size: 2rem;
  align-items: center;
  width: 100%;
  justify-content: center; 
}
/*navegador general*/
nav ul,
nav li,
.nav-item .navbar-brand {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  justify-content: space-around;
}
.a {
  font-size: 2rem;
}
a:hover {
  color: #653a08;
}
.logo-container {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}
.logo-container img {
  width: 50%;
  height: auto;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 4rem;
}
/*botonbuscarsinfuncion*/
.d-flex {
  display: flex;
  justify-content: end;
  width: fit-content;
  color: #c1aa89;
  flex-direction: row;
}
.encabezado {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 2%;
  background: rgb(237, 225, 200);
  background: radial-gradient(
    circle,
    rgba(237, 225, 200, 1) 0%,
    rgba(235, 220, 193, 1) 0%,
    rgba(255, 210, 158, 0.5606617647058824) 19%,
    rgba(255, 212, 130, 0.5046393557422969) 48%,
    rgba(224, 198, 142, 0.46262254901960786) 70%,
    rgba(212, 182, 137, 0.5550595238095238) 83%,
    rgba(201, 167, 98, 0.29175420168067223) 96%,
    rgba(245, 219, 141, 0.6587009803921569) 100%,
    rgba(255, 255, 255, 0.11808473389355745) 100%
  );
}
/*inicio-home*/
.carousel-item img {
  height: 200rem;
  object-fit: cover;
}
/*galeria de productos*/
.galeria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.galeria-item {
  position: relative;
  width: calc(27% - 1rem);
  margin-bottom: 5rem;
}
.galeria-item img {
  width: 99%;
  height: auto;
  display: block;
  flex-wrap: wrap;
  transition: transform 0.2s ease;
}
.galeria-item:hover img {
  transform: scale(1.1);
}
.galeria-informacion {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.galeria-item:hover .galeria-informacion {
  opacity: 1;
}
/*contacto formulario y lista*/
.cont {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: auto;
  font-size: 2rem;
  padding-left: 1rem;
}
.list-group-item {
  display: flex;
  width: 100%;
}
/* pagina destacado*/
.containertotal {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 0.4fr 0.4fr 0.1fr;
  gap: 10px 0px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  grid-template-areas:
    "conteiner-img  contenidod"
    "conteiner-img1 contenidod2"
    "piedepagina piedepagina";
}
.contenidod {
  grid-area: contenidod;
  grid-column: 1;
}
.conteiner-img {
  grid-area: conteiner-img;
  grid-column: 2;
}
.contenidod2 {
  grid-area: contenidod2;
  grid-column: 2;
}
.conteiner-img1 {
  grid-area: conteiner-img1;
  grid-column: 1;
}
.conteiner-img,
.conteiner-img1,
img {
  justify-content: center;
  max-width: 100%;
  height: auto;
}


/*redes sociales estilo para todas las paginas*/
.piedepagina, .social-icons {
  color: #a05e5e;
  text-decoration: none;
  margin-top: 59px;
  margin-bottom: 90px;
  text-align: center;
}
.reds:hover {
  color: #653a08;
}
.reds {
  color: rgb(177, 106, 83);
}
/*ubicacion en envios*/
.mapa {
  display: flex;
  justify-content: start;
}
@media (max-width: 500px)  {
  .galeria {/*galeria productos*/
    margin-right: 1rem;
  }
  .galeria-informacion {
    padding: 0.1em;
  }
  .galeria-item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .carousel-item img {
    height: 100rem;
    object-fit: cover;
  }
  /*destacado*/
  .containertotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conteiner-img,
  .conteiner-img1
  img {
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  /*navegador general*/
  nav ul,
  nav li,
  .nav-item .navbar-brand {
  font-size: 1rem;
  }
body {
    color: rgb(236, 226, 226);
    background-color: rgb(11, 9, 9);
  }
  .button {
    width: 100%;
    min-height: auto;
  }
  .encabezado,
  footer,
  .texto {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /*pagina destacado*/
  .containertotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: large;
  }
  /*galeria productos*/
  .galeria {
    padding: 3rem;
  }
  .galeria-item {
    width: 45%;
  }
  .galeria-informacion {
    padding: 0.1em;
  }
  body{
    color: rgb(245, 233, 233);
    background-color: rgb(15, 14, 14);
  }
  a {
    text-decoration: none;
    color: #f9f4f4d6;
  }
  .texto {
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
/*galeria productos*/
.galeria {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    padding: 2rem;
  }
body {
    background-image: url("../assets/fondo3.jpg");
    background-size: cover;
  }
.texto { display: flex;
  justify-content: start;
  text-align: start;
  align-items: start; }
  .espacio {
    letter-spacing: 0.4rem;
  }  
}

