@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 62.5% representa un 10px, 1em = 10px */
  font-family: "Domine", serif;
}
html p {
  font-size: 2rem;
}
html .texto {
  display: flex;
  text-align: center;
  font-size: 2rem;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #2d1801;
}

.nav ul,
.nav li,
.nav .nav-item,
.nav .navbar-expand-lg,
.nav .bg-body-tertiary {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 4rem;
  justify-content: space-around;
}
.nav .d-flex {
  display: flex;
  justify-content: end;
  width: fit-content;
  color: #1f1404;
  flex-direction: row;
}

.logo-container {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}
.logo-container img {
  width: 50%;
  height: auto;
}

.a {
  font-size: 2rem;
}
.a:hover {
  color: #653a08;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  max-width: 100%;
}

.piedepagina {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.social-icons a {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  color: #a05e5e;
  text-decoration: none;
  justify-content: center;
}
.social-icons a:hover {
  color: #653a08;
}
.social-icons .reds {
  color: rgb(177, 106, 83);
}
.social-icons h3 {
  margin-top: 1rem;
}

.encabezado {
  font-size: 10rem;
  color: rgb(31, 19, 2);
  text-align: center;
  padding: 2%;
  background: rgb(19, 14, 2);
  background: radial-gradient(circle, rgb(237, 225, 200) 0%, rgb(235, 220, 193) 0%, rgba(255, 210, 158, 0.5606617647) 19%, rgba(255, 212, 130, 0.5046393557) 48%, rgba(224, 198, 142, 0.462622549) 70%, rgba(212, 182, 137, 0.5550595238) 83%, rgba(201, 167, 98, 0.2917542017) 96%, rgba(245, 219, 141, 0.6587009804) 100%, rgba(255, 255, 255, 0.1180847339) 100%);
}

/*inicio-home pc*/
.carousel-item img {
  object-fit: cover;
  width: 180rem;
  height: 150rem;
  max-width: 100%;
  max-height: 100%;
}

/*galeria de productos*/
.galeria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.galeria-item {
  position: relative;
  width: calc(27% - 1rem);
  margin-bottom: 5rem;
}
.galeria-item img {
  width: 99%;
  height: auto;
  display: block;
  flex-wrap: wrap;
  transition: transform 0.2s ease;
}
.galeria-item:hover img {
  transform: scale(1.1);
}
.galeria-item .galeria-informacion {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.galeria-item:hover .galeria-informacion {
  opacity: 1;
}

/*contacto formulario y lista*/
.cont {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: auto;
  font-size: 2rem;
  padding-left: 2rem;
  color: #653a08;
}

.list-group-item {
  display: flex;
  width: 100%;
}

/* pagina destacado*/
.containertotal {
  overflow-x: hidden;
  font-size: 1 rem;
}

.col-12.col-md-6 h2.espacio {
  font-size: 2rem;
}

.col-12 {
  width: 50%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalizada {
  max-width: 100rem;
  max-height: 200rem;
}

.grid-text {
  font-size: 1rem;
}

.mapaconteiner {
  position: relative;
  max-width: 10rem;
  max-height: 20rem;
}
.mapaconteiner .mapa {
  position: absolute;
  max-width: 10rem;
  max-height: 20rem;
  top: 0;
  left: 0;
}

/*celular*/
@media (max-width: 500px) {
  .col-12.col-md-6.order-md-2 {
    width: 100%;
  }
  .col-12.col-md-6 h2.espacio {
    font-size: 1rem;
  }
  .row {
    flex-wrap: wrap;
  }
  [class^=col-] {
    flex-basis: 100%;
  }
  img {
    max-width: 150rem;
    max-height: 150rem;
  }
  .galeria {
    margin-right: 1rem;
  }
  .galeria .galeria-informacion {
    padding: 0.1em;
  }
  .galeria .galeria-item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .carousel-item img {
    height: 100rem;
    object-fit: cover;
  }
  .piedepagina {
    width: max-content;
  }
}
.containertotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containertotal img {
  width: 100%;
  height: auto;
}

body {
  background-color: rgb(255, 255, 255);
}
body .texto {
  color: rgb(57, 34, 3);
  font-size: 1.4rem;
}

.button {
  width: 100%;
  min-height: auto;
}

.encabezado {
  font-size: 1rem;
  color: rgb(65, 38, 2);
  background-color: aliceblue;
}

/*contacto formulario y lista*/
.cont {
  font-size: 1rem;
}

.list-group-item {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*pagina destacado*/
  .containertotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .col-12 {
    justify-content: center;
    margin-top: 1rem;
  }
  /*galeria productos*/
  .galeria {
    padding: 3rem;
  }
  .galeria-item {
    width: 45%;
  }
  .galeria-informacion {
    padding: 0.1em;
  }
  body {
    color: rgb(58, 32, 0);
    background-color: white;
  }
  a {
    text-decoration: none;
    color: rgba(249, 244, 244, 0.8392156863);
  }
  .texto {
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .galeria {
    /*galeria productos*/
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    padding: 2rem;
  }
  .home {
    background-image: url("../assets/Home.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 28rem;
  }
  .productos {
    background-image: url("../assets/Productos.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 22rem;
  }
  .politicas {
    background-image: url("../assets/Políticas.png");
    margin-bottom: 100rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .contactos {
    background-image: url("../assets/contactos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }
  .envios {
    background-image: url("../assets/envios.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }
  .texto {
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: start;
    color: #1f1404;
  }
  .espacio {
    letter-spacing: 0.4rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
