@charset "UTF-8";
/*carrusel con animacion*/
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/*texto con movimiento*/
.animar {
  overflow-x: hidden;
}

.animacion {
  opacity: 0.5;
  animation: moveText 1s infinite alternate;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b16310;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2rem);
  }
}
.galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  overflow-x: hidden;
}

.galeria-item {
  position: relative;
  width: calc(27% - 1rem);
  margin-bottom: 6rem;
  text-align: center;
}
.galeria-item img {
  width: 99%;
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}
.galeria-item:hover img {
  transform: scale(1.1);
}
.galeria-item .galeria-informacion {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  align-items: center;
}
.galeria-item:hover .galeria-informacion {
  opacity: 1;
}

.containertotal {
  overflow: hidden;
}

.row .col-12 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.row .col-12 .grid-item {
  flex-basis: calc(80.33% - 1em);
}
.row .col-12 .grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

/*pagina contacto-formulario y lista*/
/*CONTACT*/
form.cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  font-size: 1rem;
  padding-left: 1rem;
  color: #b16310;
}
form.cont .formulario {
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  min-width: 20rem;
}
form.cont .formulario label {
  font-weight: bold;
}
form.cont .formulario input,
form.cont .formulario textarea {
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid;
  color: #b16310;
  width: 100%;
}
form.cont .formulario input:focus,
form.cont .formulario textarea:focus {
  outline: none;
  border-color: rgb(254, 254, 255);
}
form.cont .button-enviar {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #b16310;
  color: white;
  border: none;
  cursor: pointer;
}
form.cont .button-enviar:hover {
  background-color: pink;
}

.infoenvio {
  width: 100%;
}

.mapaconteiner {
  position: relative;
  max-width: 10rem;
  max-height: 20rem;
}
.mapaconteiner .mapa {
  position: absolute;
  max-width: 10rem;
  max-height: 20rem;
  top: 0;
  left: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 500px) {
  .start {
    color: #b16310;
    font-size: 2rem;
    padding: 1%;
    margin-left: 1%;
  }
  .texto {
    display: flex;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #b16310;
  }
  .grid-text {
    font-size: 2rem;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    color: #b16310;
    letter-spacing: 0.4rem;
  }
  /* NAVEGADOR */
  .navbar .navbar-brand,
  .navbar .nav-link {
    font-size: 1rem;
  }
  /* Pagina productos */
  .galeria {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-evenly;
  }
  .galeria .galeria-informacion {
    padding: 0.1em;
  }
  .galeria .galeria-item {
    width: calc(48% - 1rem);
    margin-bottom: 1.7rem;
    justify-content: space-evenly;
  }
  /* Pagina home-animacion */
  .carousel-item,
  img {
    height: 100rem;
    object-fit: cover;
  }
  .animacion {
    font-size: 1rem;
  }
  .encabezado--pequeño {
    text-align: center;
  }
  .button {
    width: 100%;
    min-height: auto;
  }
  /* PAGINA DESTACADO */
  .containertotal .row .col-12.col-md-6 {
    flex-basis: 100%;
  }
  /* contacto formulario y lista */
  .formulario {
    justify-content: space-evenly;
    font-size: 1rem;
  }
  /* ESCRITURAS */
  .start,
  .texto,
  .grid-text {
    font-size: 1rem;
  }
  /* Fondo para dispositivos móviles */
  body {
    background-color: rgb(255, 255, 255);
  }
}
/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .start {
    color: #b16310;
    font-size: 2rem;
    padding: 1%;
    margin-left: 1%;
  }
  .texto {
    display: flex;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #b16310;
  }
  .grid-text {
    font-size: 2rem;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    color: #b16310;
    letter-spacing: 0.4rem;
  }
}
.encabezado, .encabezado--pequeño, .encabezado--grande {
  text-align: start;
}

/* Escrituras */
.start,
.texto,
.grid-text {
  font-size: 1.8rem;
}

.formulario {
  justify-content: space-evenly;
  font-size: 1rem;
}

/* pagina destacado */
.col-12.col-md-6.order-md- {
  width: 100%;
}
.col-12.col-md-6.order-md- h2 .grid-text {
  font-size: 0.5rem;
}

[class^=col-] {
  flex: 1 1 50%;
}

img {
  max-width: 100rem;
  max-height: 100rem;
}

/* galeria productos */
.galeria {
  padding: 3rem;
}

.galeria-item {
  width: 30%;
}

.galeria-informacion {
  padding: 0.1em;
}

a {
  text-decoration: none;
  color: rgba(249, 244, 244, 0.8392156863);
}

@media (min-width: 1024px) {
  .start {
    color: #b16310;
    font-size: 2rem;
    padding: 1%;
    margin-left: 1%;
  }
  .texto {
    display: flex;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #b16310;
  }
  .grid-text {
    font-size: 2rem;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    color: #b16310;
    letter-spacing: 0.4rem;
  }
  /* Mis fondos para PC */
  body.productos {
    background-image: url("../assets/Productos.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 22rem;
  }
  body.politicas {
    background-image: url("../assets/fondo3.webp");
    margin-bottom: 100rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  body.contactos {
    background-image: url("../assets/contactos.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }
  body.envios {
    background-image: url("../assets/envios.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }
  .encabezado .encabezado--grande, .encabezado--pequeño .encabezado--grande, .encabezado--grande .encabezado--grande {
    text-align: center;
  }
}
.start .start {
  color: #b16310;
  font-size: 2rem;
  padding: 1%;
  margin-left: 1%;
}

.texto .texto {
  display: flex;
  text-align: center;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #b16310;
}

.grid-text .grid-text {
  font-size: 2rem;
  margin-top: 10%;
  text-align: center;
  justify-content: center;
  color: #b16310;
  letter-spacing: 0.4rem;
}

html {
  font-size: 62.5%;
  /* 62.5% representa un 10px, 1em = 10px */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

/*navegador general*/
.navbar.bg-body-tertiary .nav-link.active, .navbar.bg-body-tertiary .navbar-brand, .navbar.bg-body-tertiary .navbar-brand.navbar-nav, .navbar.bg-body-tertiary .nav-link {
  color: #b16310;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.logo-container {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}
.logo-container img {
  width: 50%;
  height: auto;
}

.button {
  width: 100%;
  min-height: auto;
}

.encabezado, .encabezado--pequeño, .encabezado--grande {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #b16310;
  text-align: center;
  padding: 2%;
  background-image: radial-gradient(circle, rgb(237, 225, 200) 0%, rgb(235, 220, 193) 0%, rgba(255, 210, 158, 0.5606617647) 19%, rgba(255, 212, 130, 0.5046393557) 48%, rgba(224, 198, 142, 0.462622549) 70%, rgba(212, 182, 137, 0.5550595238) 83%, rgba(201, 167, 98, 0.2917542017) 96%, rgba(245, 219, 141, 0.6587009804) 100%, rgba(255, 255, 255, 0.1180847339) 100%);
}

.encabezado--grande {
  font-size: 2rem;
}

.encabezado--pequeño {
  font-size: 1rem;
}

/*pie de pagina general*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 100%;
}

.piedepagina {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.social-icons a {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  color: #a05e5e;
  text-decoration: none;
  justify-content: center;
  font-size: 2rem;
}
.social-icons a:hover {
  color: #653a08;
}
.social-icons .reds {
  color: rgb(177, 106, 83);
}

/*# sourceMappingURL=estilos.css.map */
