/*pagina contacto-formulario y lista*/

@import "mixins/escrituras-generales.scss";

$color-principal: #b16310;


/*CONTACT*/
form.cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    font-size: 1rem;
    padding-left: 1rem;
    color: $color-principal;
  
    .formulario {
      display: flex;
      flex-direction: column;
      min-height: 8rem;
      min-width:20rem ;
  
      label {
        font-weight: bold;
      }
  
      input,
      textarea {
        border-radius: 1rem;
        padding: 0.5rem;
        border: 1px solid;
        color: $color-principal;
        width: 100%;
  
        &:focus {
          outline: none;
          border-color: rgb(254, 254, 255);
        }
      }
    }
  
    .button-enviar {
      border-radius: 1rem;
      padding: 0.5rem;
      background-color: $color-principal;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: pink;
      }
    }
  }
  