
@import "mixins/_escrituras-generales.scss";

@media screen and (min-width: 1024px) {

/*ESCRITURAS*/

.start {
  @include estilo-start;

}

.texto {
  @include estilo-texto;

}

.grid-text {
  @include estilo-grid-text;

}

  /* Mis fondos para PC */
  .home {
    background-image: url("../assets/Home.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 28rem;
  }

  .productos {
    background-image: url("../assets/Productos.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 22rem;
  }

  .politicas {
    background-image: url("../assets/fondo3.jpg");
    margin-bottom: 100rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .contactos {
    background-image: url("../assets/contactos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }

  .envios {
    background-image: url("../assets/envios.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 60rem;
  }
}

