$color-principal: #b16310;

.containertotal {
  overflow: hidden;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}
.row {
  .col-12 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    
  
