$color-principal: #b16310;

.container {

  text-align: center;
  
}

.embed-responsive-item iframe {
  border: 1px solid #ccc; 
  border-radius: 5px; 
  
}

.container a {
  text-decoration: none; 
  
}