$color-principal: #b16310;

@import 'mixins/_escrituras-generales.scss';

.infoenvio {
width: 100%;
.texto { font-size: 2rem;
}
}

.mapaconteiner {
    position: relative;
    max-width: 10rem;
    max-height: 20rem;
  
    .mapa {
      position: absolute;
      max-width: 10rem;
      max-height: 20rem;
      top: 0;
      left: 0;
    }
  }