$color-principal: #b16310;

.subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: $color-principal;
  text-align: center;
  font-weight: 600;
}

.colores {
  background: linear-gradient(90deg,
      rgba(247, 194, 169, 1) 0%,
      rgba(255, 199, 240, 1) 51%,
      rgba(255, 227, 170, 1) 100%);
  padding: 1.5%;
}


/*texto con movimiento*/

.animaciondetexto {
  font-family: "Abril Fatface", cursive;
  color: $color-principal;
  font-weight: 200;
  text-align: center;
  opacity: 5;
  animation: fadeIn 3s infinite alternate;
}

.homeanime {
  @extend .animaciondetexto;
  font-size: 1.8rem;
}

.banner {
  padding-top: 2%;
  margin-bottom: 2%;
}

.textobanner {
  @extend .animaciondetexto;
  font-size: 2.5rem;
  justify-content: center;
  margin-top: 2%;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
    color: red;
  }

  100% {
    opacity: 0.7;
  }
}