$color-principal: #b16310;

/*carrusel con animacion*/

.carousel-item img {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  object-fit: cover;
  width: 100%;
  height: auto;


}

/*texto con movimiento*/

.animar {
  overflow-x: hidden;
}

.animacion {
  opacity: 0.5;
  animation: moveText 1s infinite alternate;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-principal;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(2rem);
  }
}
