$color-principal: #b16310;

  /*navegador general*/
  
  .navbar.bg-body-tertiary {
    .nav-link.active,
    & .navbar-brand,
    & .navbar-brand.navbar-nav,
    & .nav-link {
      font-size: 2rem;
      font-weight: 600;
    }
  }

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
}

.animar {
  overflow-x: hidden;
}

.animacion {
  opacity: 0.5;
  animation: moveText 1s infinite alternate;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-principal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(2rem);
  }
}