$color-principal: #b16310;

@import "mixins/_escrituras-generales.scss";

@media (max-width: 500px) {

  /*ESCRITURAS*/

  .start {
    @include estilo-start;
    font-size: 1.5rem;
  }

  .texto {
    @include estilo-texto;
    font-size: 1.5rem;
  }

  .grid-text {
    @include estilo-grid-text;
    font-size: 1.5rem;
  }

  /*NAVEGADOR*/

    .navbar .navbar-brand,
    .navbar .nav-link {
      font-size: 1rem;
    }

  /*Pagina productos*/

  .galeria {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-evenly;

    .galeria-informacion {
      padding: 0.1em;
    }

    .galeria-item {
      width: calc(48% - 1rem);
      margin-bottom: 1.7rem;
      justify-content: space-evenly;
    }
  }

  /*Pagina home-animacion*/

  .carousel-item,
  img {
    height: 100rem;
    object-fit: cover;
  }

  .animacion {
    font-size: 1rem;
  }

  /*Pie de pagina general*/

footer {background-color: rgb(250, 217, 222);}
.piedepagina {
    width: max-content;
  }


  body {
    background-color: rgb(255, 255, 255);
  }


  .encabezado {
    font-size: 1rem;
  
  }


  .button {
    width: 100%;
    min-height: auto;
  }

/*PAGINA DESTACADO */

.containertotal {
  .row {
    .col-12 {
      &.col-md-6 {
        flex-basis: 100%;
      }
    }
  }
}

  /*contacto formulario y lista*/

  .formulario {
    justify-content: space-evenly;
    font-size: 1rem;
  

}

}