$color-principal: #b16310;

@import "mixins/_escrituras.scss";

@media (min-width: 768px) and (max-width: 1023px) {

  .encabezado{text-align: center;}

  .formulario {
    justify-content: space-evenly;
    font-size: 1rem;
  }

  /*pagina destacado*/
  .col-12.col-md-6.order-md- {
    width: 100%;

    h2 {
      .grid-text { font-size: 0.5rem;}
      }
    }
  }

  [class^="col-"] {
    flex: 1 1 50%;
  }

  img {
    max-width: 100rem;
    max-height: 100rem;
  }

  /*galeria productos*/

  .galeria {
    padding: 3rem;
  }

  .galeria-item {
    width: 30%;
  }

  .galeria-informacion {
    padding: 0.1em;
  }

  /* fondo para tablet */
  body {
    color: $color-principal;
    background-color: white;
  }

  a {
    text-decoration: none;
    color: #f9f4f4d6;
  }

  /*ESCRITURAS*/

  .start {
    @include estilo-start;

}

.texto {
    @include estilo-texto;
}

.grid-text {
    @include estilo-grid-text;
}