@import "_home.scss";
@import "_productos.scss";
@import "_destacado.scss";
@import "_politicas.scss";
@import "_contacto.scss";
@import "_envios.scss";
@import "mixins/_escrituras.scss";
@import "responsive.scss";



$color-principal: #b16310;

.start {
  @include estilo-start;
}

.texto {
  @include estilo-texto;
}

.grid-text {
  @include estilo-grid-text;
}

html {
  font-size: 62.5%;
  /* 62.5% representa un 10px, 1em = 10px */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

/*navegador general*/

.navbar.bg-body-tertiary {

  .nav-link.active,
  & .navbar-brand,
  & .navbar-brand.navbar-nav,
  & .nav-link {
    color: $color-principal;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  .navbar-brand {justify-content: center; text-align: center;}
}

.logo-container {
  display: inline-block;
  width: 100px;
  margin-top: 10px;

  img {
    width: 50%;
    height: auto;
  }
}

.button {
  width: 100%;
  min-height: auto;
}

.encabezado {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: $color-principal;
  text-align: center;
  padding: 1%;
  background: rgb(247, 194, 169);
  background: linear-gradient(
    90deg,
    rgba(247, 194, 169, 1) 0%,
    rgba(255, 199, 240, 1) 51%,
    rgba(255, 227, 170, 1) 100%
  );
}
/*Estilo para flotante de mensajes o promociones*/

.sticky-element {
  position: fixed;
  top: 43%;
  right: 0;
  margin-right: 1%;
  transform: translateY(-50%);
  z-index: 9999;
  opacity: 0.2;
  img {
    display: block; 
    width: 7rem; 
    height: auto;
  }
  border-radius: 100%/100%;
  box-shadow: 0 2px 4px rgba(232, 148, 255, 0.8);
  &:hover {
    background-color: #FFD700;
}
}


/*pie de pagina general*/

.estilos-comunes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 100%;
}

.footer {
  @extend .estilos-comunes;
}

.piedepagina {
  @extend .estilos-comunes;
  padding: 1rem;
}

.social-icons {
  
  @extend .estilos-comunes;

  a {
    display: inline-block;
    text-align: center;
    margin: 1rem;
    color: #a05e5e;
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;

    &:hover {
      color: #653a08;
    }
  }

  .reds {
    color: rgb(177, 106, 83);
  }
}
