$color-principal: #b16310;

/* Estilos para dispositivos móviles */

@media (max-width: 500px) {
    @include estilo-start;
    @include estilo-texto;
    @include estilo-grid-text;

    /* Pagina productos */
    .galeria {
        margin-left: 0;
        margin-right: 0;
        justify-content: space-evenly;
    }

        .galeria-informacion {
            padding: 0.1em;
        }

        .galeria-item {
            width: calc(45% - 1rem);
            margin-bottom: 1rem;
            margin-top: 1rem;
            justify-content: space-evenly;
        }
    

    /* Pagina home-animacion */

    .animacion {
        font-size: 1.5rem;
    }

    .encabezado {
        font-size: 1.3rem;
    }

    .subtitulo {
        font-size: 1rem;
    }

    .homeanime{
    font-size: 1.2rem;
    }

    .textobanner{
        font-size: 1.2rem;
    }

    .button {
        width: 100%;
        min-height: auto;
    }

    /* Flotante para mensajes o promociones */

    .sticky-element {
        top: 35%;
        img {
        width: 4rem; 
    }
    }

    /* PAGINA DESTACADO */
    .containertotal {
        .row {
            .col-12 {
                &.col-md-6 {
                    flex-basis: 100%;
                }
            }
        }
    }

    /* contacto formulario y lista */
    .formulario {
        justify-content: space-evenly;
        font-size: 1rem;
    }

    form.cont {
        align-items: center;
    }

    .label { font-size: 1rem;}

    .input, .textarea{ font-size: 1rem;}

    .button-enviar { font-size: 1rem;}

    /* ESCRITURAS */
    .start,
    .texto,
    .grid-text {
        font-size: 1.4rem;
    }

    label {
        font-weight: bold;
        font-size: 0.5rem;
    }

    .social-icons{
        a{
            font-size: 1.5rem;
        }
    }
}


/* Estilos para tablet */

@media (min-width: 768px) and (max-width: 1023px) {
    @include estilo-start;
    @include estilo-texto;
    @include estilo-grid-text;

    .encabezado {
        font-size: 1.5rem;
    }


/* Flotante para mensajes o promociones */

.sticky-element {
    top: 20%;
    img {
    width: 8rem; 
}
}

    /* Escrituras */
    .start,
    .texto,
    .grid-text {
        font-size: 1.3rem;
    }

    .formulario {
        justify-content: space-evenly;
        font-size: 1rem;
    }

    /* pagina destacado */

    .col-12.col-md-6.order-md-1 {
        width: 100%;
    }

    [class^="col-"] {
        flex: 1 1 50%;
    }

    img {
        max-width: 100rem;
        max-height: 100rem;
    }

    /* galeria productos */
    .galeria {
        padding: 3rem;
    }

    .galeria-item {
        width: 30%;
    }

    .galeria-informacion {
        padding: 0.1em;
    }

    a {
        text-decoration: none;
        color: #f9f4f4d6;
    }
/*Pagina contacto*/

.button-enviar {  font-size: 2rem;}
input,
textarea { font-size: 3rem;}

}



@media (min-width: 1024px) {
    @include estilo-start;
    @include estilo-texto;
    @include estilo-grid-text;

    .encabezado {
        font-size: 1.8rem;

    }

.button-enviar {  font-size: 2rem;}
input,
textarea { font-size: 3rem;}

   /* Flotante para mensajes o promociones */

.sticky-element {
    top: 25%;
    img {
    width: 10rem; 
}

} 

}